<!DOCTYPE html>
<html>
<div th:replace="~{component/head-tag::head-tag}"></div>
<body>
		<div th:replace="~{component/header :: header}"></div>
		<main>
				<div class="container-md text-left">
						<div class="row">
								<div class="col">
										<div th:replace="~{component/navbar::navbar}"></div>
								</div>
						</div>
						<div class="row">
								<div class="col">
								
										<div th:if="${isList == true}">
												<div th:replace="~{component/user/content::user}"></div>
										</div>
										<div th:if="${isNew == true}">
												<div th:replace="~{component/user/detail::new-user}"></div>
										</div>
										<div th:if="${isDetail == true}">
												<div th:replace="~{component/user/detail::user-detail}"></div>
										</div>
										<div th:if="${isUpdate == true}">
												<div th:replace="~{component/user/detail::update-user}"></div>
										</div> 
								</div>
						</div>

				</div>

		</main>

		<div th:replace="~{component/footer::footer}"></div>
</body>
</html>