<div th:fragment="user-detail">
	<h3>Thông tin người dùng</h3>
	<form th:action="@{/admin/user/new-user}" th:object="${user}" method="POST">

		<div class="input-group mb-3">
			<span class="input-group-text">Mã</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{id}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Tên đăng nhập *</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{userName}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('userName')}"
				th:errors="*{userName}"></span>
			<span class="validationError input-group-text" th:if="${error != null}" th:text="${error}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Họ và tên *</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{fullName}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Điện thoại</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{mobilePhone}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Ghi chú</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{description}">
		</div>

		<button type="button" class="btn btn-secondary w-25" th:onclick="@{|window.location.href='/admin/user/0/50'|}">Quay
			lại</button></span>
	</form>

</div>


<div th:fragment="new-user">
	<h3>Thêm người dùng</h3>

	<form th:action="@{/admin/user/new-user}" th:object="${newUser}" method="POST">

		<div class="input-group mb-3">
			<span class="input-group-text">Tên đăng nhập *</span>
			<input class="form-control" type="text" th:field="*{userName}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('userName')}"
				th:errors="*{userName}"></span>
			<span class="validationError input-group-text" th:if="${error != null}" th:text="${error}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Mật khẩu *</span>
			<input class="form-control" type="password" th:field="*{password}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Họ</span>
			<input class="form-control" type="text" th:field="*{lastName}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Tên</span>
			<input class="form-control" type="text" th:field="*{firstName}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Điện thoại</span>
			<input class="form-control" type="text" th:field="*{mobilePhone}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Ghi chú</span>
			<input class="form-control" type="text" th:field="*{description}">
		</div>

		<button type="submit" class="btn btn-success w-25">Tạo</button>
		<button type="button" class="btn btn-secondary w-25" th:onclick="@{|window.location.href='/admin/user/0/50'|}">Quay
			lại</button></span>

	</form>

</div>

<div th:fragment="update-user">
	<h3>Cập nhật người dùng</h3>

	<form th:action="@{|/admin/user/${id}|}" th:object="${user}" method="POST">
		
		<div class="input-group mb-3 d-none">
			<span class="input-group-text">ListRole</span>
			<input class="form-control" type="text" th:field="*{listRole}">
		</div>
		
		
		<div class="input-group mb-3 hidden">
			<span class="input-group-text">Mã</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{id}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Tên đăng nhập *</span>
			<input class="form-control" type="text" th:field="*{userName}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('userName')}"
				th:errors="*{userName}"></span>
			<span class="validationError input-group-text" th:if="${error != null}" th:text="${error}"></span>
		</div>


		<div class="input-group mb-3">
			<span class="input-group-text">Họ</span>
			<input class="form-control" type="text" th:field="*{lastName}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Tên</span>
			<input class="form-control" type="text" th:field="*{firstName}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Điện thoại</span>
			<input class="form-control" type="text" th:field="*{mobilePhone}">
		</div>
	
		<div class="d-flex align-items-start ">
			<div class="form-check form-switch flex-fill">
				<input class="form-check-input" type="checkbox" id="enable" th:field="*{enable}" th:value="*{enable}">
				<label class="form-check-label" for="enable">Kích hoạt</label>
			</div>
			
			<div class="form-check form-switch flex-fill">
				<input class="form-check-input" type="checkbox" id="nonExpired" th:field="*{nonExpired}" th:value="*{nonExpired}">
				<label class="form-check-label" for="nonExpired">Tài khoản hết hạn</label>
			</div>
			
			<div class="form-check form-switch flex-fill">
				<input class="form-check-input" type="checkbox" id="nonLock" th:field="*{nonLock}" th:value="*{nonLock}">
				<label class="form-check-label" for="nonLock">Khóa tài khoản</label>
			</div>
			
			<div class="form-check form-switch flex-fill">
				<input class="form-check-input" type="checkbox" id="pwNonExpired" th:field="*{pwNonExpired}" th:value="*{pwNonExpired}">
				<label class="form-check-label" for="pwNonExpired">Mật khẩu không hết hạn</label>
			</div>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Ghi chú</span>
			<input class="form-control" type="text" th:field="*{description}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Danh sách vùng được phân: </span>
			<select class="form-select region-select-search" id="regions" name="regions" multiple="multiple">
				<!--                <option th:if="${region.customers.isEmpty() }" th:selected="true" th:value="-1" th:text="'Chưa cấp'"></option>-->
				<option th:each="p : ${regionList}"
						th:value="${p.id}" th:text="${p.name}"
						th:selected="${#sets.contains(user.regions, p)}"
				>
				</option>
			</select>
		</div>

		<button type="submit" class="btn btn-success w-25">Cập nhật</button>
		<button type="button" class="btn btn-secondary w-25" th:onclick="@{|window.location.href='/admin/user/0/50'|}">Quay
			lại</button></span>

	</form>

	<!--
	
	<form th:action="@{|/user/${id}|}" th:object="${user}" method="POST">
		  <input class="form-control" type="hidden" th:field="*{id}">

		<label class="form-label" for="*{userName}">Tên đăng nhập*</label>
		<span class="validationError" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
		<input class="form-control" type="text" th:field="*{userName}">


		<label class="form-label" for="*{lastName}">Họ </label>
		<input class="form-control" type="text" th:field="*{lastName}">

		<label class="form-label" for="*{firstName}">Tên </label>
		<input class="form-control" type="text" th:field="*{firstName}">

		<label class="form-label" for="*{mobilePhone}">Điện thoại </label>
		<input class="form-control" type="text" th:field="*{mobilePhone}">

		<br />
		<label class="form-label" for="*{description}">Ghi chú</label>
		<input class="form-control" type="text" th:field="*{description}">
		<br />
		<span class="">
			<button type="submit" class="btn btn-success w-25">Cập nhật</button>
			<button type="button" class="btn btn-secondary w-25"
				th:onclick="@{|window.location.href='/user/0/50'|}">Quay lại</button></span>

	</form>-->

</div>