<div th:fragment="permission" xmlns:sec="http://www.w3.org/1999/xhtml">
		<table class="table table-striped">
				<thead>
						<tr>
								<th scope="col">Mã</th>
								<th scope="col">Tên</th>
								<th scope="col">Hành động</th>

						</tr>
				</thead>
				<tbody>
						<h3>Danh sách vai trò</h3>
						<div class="d-flex flex-column flex-md-row">
								<div class="w-100">
										<div
												th:replace="~{component/search-box::searchBox(name='admin/permission')}"></div>
								</div>
								<div class="100">
									<div class="btn-group w-100">
												<button type="button" class="btn btn-secondary w-50" style="margin-right:-5px; height:60px"
														th:onclick="window.history.back()">Quay lại</button>
												<button  sec:authorize="hasRole('ADMIN')"
														type="button" class="btn btn-success w-50" style="margin-left:0px; height:60px"
														th:onclick="window.location.href='/admin/permission/new-permission'">Thêm</button>
								
										</div>
								</div>
						</div>
						<tr th:each="c, iterator : ${permission}" th:with="count=0">
								<td scope="row" th:text="${c.id}"></td>
								<td th:text="${c.name}"></td>
								<td th:text="${c.description}"></td>
								<td>
										<div class="btn-group" permission="group" aria-label="Basic example">
												<button
														th:onclick="@{|window.location.href='/admin/permission/${c.id}/show'|}"
														type="button" class="btn btn-info">Xem</button>
												<button type="button"
														sec:authorize="hasRole('ADMIN')"
														th:onclick="@{|window.location.href='/admin/permission/${c.id}'|}"
														class="btn btn-warning">Sửa</button>
												<button
														sec:authorize="hasRole('ADMIN')"
														th:onclick="@{|window.location.href='/admin/permission/delete/${c.id}'|}"
														type="submit" class="btn btn-danger">Xoá</button>
										</div>
								</td>
						</tr>
				</tbody>
		</table>
		<div
				th:replace="~{component/pagination::page(name=${permission}, link='admin/permission', pageRange=3)}"></div>
</div>