<div th:fragment="customer-detail">
	<h3>Thông tin khách hàng</h3>
	<form th:action="@{/admin/customer/new-customer}" th:object="${customer}" method="POST">

		<div class="input-group mb-3">
			<span class="input-group-text">Mã Khách hàng *</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{code}">

		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Tên khách hàng *</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{name}">

		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Địa chỉ</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{address}">

		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Mã số thuế</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{taxCode}">

		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Điện thoại</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{phone}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Người tạo</span>
			<input th:readonly="true" class="form-control" type="text" th:value="${customer.createdBy?.userName ?: 'Không có'}"/>

		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Tạo lúc</span>
			<input th:readonly="true" class="form-control" type="text" th:field="${customer.createdDate}">

		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Sửa bởi</span>
			<input th:readonly="true" class="form-control" type="text" th:value="${customer.lastModifiedBy?.userName ?: 'Không có'}"/>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Vào lúc</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{lastModifiedDate}">
		</div>
		
		<div class="input-group mb-3">
			<span class="input-group-text">Khu vực</span>
			<input th:readonly="true" class="form-control" type="text" th:field="*{description}">
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Khách của</span>
			<select disabled="disabled" class="form-select customer-select-search" th:field="*{idUserBelong}">
				<option th:if="${customer.idUserBelong == null}" th:selected="true" th:value="-1" th:text="'Chưa cấp'"></option>
				<option th:each="p : ${userList}"
						th:value="${p.id}" th:text="${p.userName}"
						th:selected="${p.id == customer.idUserBelong?.id}">
				</option>
			</select>
		</div>

		<button type="button" class="btn btn-secondary w-25"
			th:onclick="@{|window.location.href='/admin/customer/0/50'|}">Quay lại</button></span>
	</form>
	

</div>


<div th:fragment="new-customer">
	<h3>Thêm khách hàng</h3>

	<form th:action="@{/admin/customer/new-customer}" th:object="${customer}" method="POST">

		<div class="input-group mb-3">
			<span class="input-group-text">Mã Khách hàng *</span>
			<input class="form-control" type="text" th:field="*{code}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('code')}"
				  th:errors="*{code}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Tên khách hàng *</span>
			<input class="form-control" type="text" th:field="*{name}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('name')}"
				  th:errors="*{name}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Địa chỉ</span>
			<input class="form-control" type="text" th:field="*{address}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('address')}"
				  th:errors="*{address}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Mã số thuế</span>
			<input class="form-control" type="text" th:field="*{taxCode}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('taxCode')}"
				  th:errors="*{taxCode}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Điện thoại</span>
			<input class="form-control" type="text" th:field="*{phone}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('phone')}"
				  th:errors="*{phone}"></span>
		</div>


		<div class="input-group mb-3">
			<span class="input-group-text">Khu vực</span>
			<input class="form-control" type="text" th:field="*{description}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('description')}"
				  th:errors="*{description}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Khách của</span>
			<select class="form-select customer-select-search" th:field="*{idUserBelong}">
				<option th:if="${customer.idUserBelong == null}" th:selected="true" th:value="-1" th:text="'Chưa cấp'"></option>
				<option th:each="p : ${userList}"
						th:value="${p.id}" th:text="${p.userName}"
						th:selected="${p.id == customer.idUserBelong?.id}">
				</option>
			</select>
		</div>
		
		<button type="submit" class="btn btn-success w-25">Tạo</button>
		<button type="button" class="btn btn-secondary w-25"
			th:onclick="@{|window.location.href='/admin/customer/0/50'|}">Quay lại</button></span>
	</form>

</div>

<div th:fragment="update-customer">
	<h3>Cập nhật khách hàng</h3>
	<form th:action="@{|/admin/customer/${id}|}" th:object="${customer}" method="POST">

		<input class="form-control" type="hidden" th:field="*{id}">
		<div class="input-group mb-3">
			<span class="input-group-text">Mã Khách hàng *</span>
			<input class="form-control" type="text" th:field="*{code}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('code')}"
				th:errors="*{code}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Tên khách hàng *</span>
			<input class="form-control" type="text" th:field="*{name}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Địa chỉ</span>
			<input class="form-control" type="text" th:field="*{address}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('address')}"
				  th:errors="*{address}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Mã số thuế</span>
			<input class="form-control" type="text" th:field="*{taxCode}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('taxCode')}"
				  th:errors="*{taxCode}"></span>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">Điện thoại</span>
			<input class="form-control" type="text" th:field="*{phone}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('phone')}"
				  th:errors="*{phone}"></span>
		</div>


		<div class="input-group mb-3">
			<span class="input-group-text">Khu vực</span>
			<input class="form-control" type="text" th:field="*{description}">
			<span class="validationError input-group-text" th:if="${#fields.hasErrors('description')}"
				  th:errors="*{description}"></span>
		</div>

<!--		<div class="input-group mb-3">-->
<!--			<span class="input-group-text">Khách của</span>-->
<!--			<select class="form-select customer-select-search" th:field="*{idUserBelong}">-->
<!--				<option th:if="${customer.idUserBelong == null}" th:selected="true" th:value="-1" th:text="'Chưa cấp'"></option>-->
<!--				<option th:each="p : ${userList}"-->
<!--						th:value="${p.id}" th:text="${p.userName}"-->
<!--						th:selected="${p.id == customer.idUserBelong?.id}">-->
<!--				</option>-->
<!--			</select>-->
<!--		</div>-->

		<div class="input-group mb-3">
			<span class="input-group-text">Khách thuộc vùng: </span>
			<select class="form-select region-select-search" id="regions" name="regions" multiple="multiple">
				<!--                <option th:if="${region.customers.isEmpty() }" th:selected="true" th:value="-1" th:text="'Chưa cấp'"></option>-->
				<option th:each="p : ${regionList}"
						th:value="${p.id}" th:text="${p.name}"
						th:selected="${#sets.contains(customer.regions, p)}"
				>
				</option>
			</select>
		</div>


		<button type="submit" class="btn btn-success w-25">Cập nhật</button>
		<button type="button" class="btn btn-secondary w-25"
			th:onclick="@{|window.location.href='/admin/customer/0/50'|}">Quay lại</button></span>
		
	</form>

</div>