<div th:fragment="customer-detail">
		<h1>Cập nhật</h1>
		<input type="text" th:field="*{customer}"
				th:class="${#fields.hasErrors('customer')}? fieldError" />
		<form th:action="@{/customer/customer-detail}" th:object="${customer}"
				method="post">

				<label for="name"></label> <input type="text" th:field="*{name}">
				<input></input> <label for="description"></label> <input type="text"
						th:field="*{description}"> </input>
				<button type="submit" class="btn btn-success w-25">Thêm</button>
		</form>
		`
</div>


<div th:fragment="new-customer">
		<h3>Thêm khách hàng</h3>
	
		<form th:action="@{/customer/new-customer}" th:object="${customer}"
				method="POST">
				
				  <label class="form-label" for="*{name}">Tên *</label> 
					<span class="validationError"
			          th:if="${#fields.hasErrors('name')}"
			          th:errors="*{name}"></span>
				  <input class="form-control" type="text" th:field="*{name}" > 
				   
				  <br/> 
				  <label class="form-label" for="*{description}">Ghi chú</label> 
				  <input class="form-control" type="text" th:field="*{description}" >
				  <br/>
				  <button type="submit" class="btn btn-success w-25">Tạo</button> 

		</form>
</div>