
  
<footer th:fragment="footer" class="text-center">
	<!-- <script th:src="@{/js/bootstrap.bundle.min.js}"></script> -->
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/select2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/javascript.js}"></script>
  &copy; 2023 GLOBAL ECOTECH
</footer>
  
