<div th:fragment="payment-type">
		<table class="table table-striped">
				<thead>
						<tr>
								<th scope="col">Mã</th>
								<th scope="col">Tên</th>
								<th scope="col">Số ngày nợ</th>
								<th scope="col">Mô tả</th>
								<th scope="col">Hành động</th>

						</tr>
				</thead>
				<tbody>
						<h3>Danh sách phương thức thanh toán</h3>
						<div class="row">
								<div class="col ">
										<div
												th:replace="~{component/search-box::searchBox(name=payment-type)}"></div>
								</div>
								<div class="col ">
									<div class="btn-group w-100">
												<button type="button" class="btn btn-secondary w-50" style="margin-right:-5px; height:60px"
														th:onclick="window.history.back()">Quay lại</button>
												<button type="button" class="btn btn-success w-50" style="margin-left:0px; height:60px"
														th:onclick="window.location.href='/payment-type/new-payment-type'">Thêm</button>
								
										</div>
								</div>
						</div>
						<tr th:each="c, iterator : ${paymentType}" th:with="count=0">
								<td scope="row" th:text="${c.id}"></td>
								<td th:text="${c.name}"></td>
								<td th:text="${c.day}"></td>
								<td th:text="${c.description}"></td>
								<td>
										<div class="btn-group" role="group" aria-label="Basic example">
												<button
														th:onclick="@{|window.location.href='/payment-type/${c.id}/show'|}"
														type="button" class="btn btn-info">Xem</button>
												<button type="button"
														th:onclick="@{|window.location.href='/payment-type/${c.id}'|}"
														class="btn btn-warning">Sửa</button>
												<button
														th:onclick="@{|window.location.href='/payment-type/delete/${c.id}'|}"
														type="submit" class="btn btn-danger">Xoá</button>
										</div>
								</td>
						</tr>
				</tbody>
		</table>
		<div
				th:replace="~{component/pagination::page(name=${paymentType}, link=payment-type, pageRange=3)}"></div>
</div>