<div th:fragment="payment-type-detail">
		<h3>Thông tin phương thức thanh </h3>
		<form th:action="@{|/payment-type/${id}|}" th:object="${paymentType}"
				method="POST">
				  <label class="form-label" for="*{name}">Tên *</label> 
				  <input th:readonly="true" class="form-control" type="text" th:field="*{name}" > 
				  <br/> 
				  <label class="form-label" for="*{day}">Số ngày nợ</label> 
				  <input th:readonly="true" class="form-control" type="text" th:field="*{day}" >
				   
				  <br/> 
				  <label class="form-label" for="*{description}">Ghi chú</label> 
				  <input th:readonly="true" class="form-control" type="text" th:field="*{description}" >
				  <br/>
				  	  <button type="button" class="btn btn-secondary w-25"
						th:onclick="@{|window.location.href='/payment-type/0/50'|}">Quay lại</button></span>
		</form>
	
</div>


<div th:fragment="new-payment-type">
		<h3>Thêm phương thức thanh toán</h3>
	
		<form th:action="@{/payment-type/new-payment-type}" th:object="${paymentType}"
				method="POST">
				
				  <label class="form-label" for="*{name}">Tên *</label> 
					<span class="validationError"
			          th:if="${#fields.hasErrors('name')}"
			          th:errors="*{name}"></span>
				  <input class="form-control" type="text" th:field="*{name}" > 
				   <br/> 
				   <label class="form-label" for="*{day}">Số ngày nợ</label> 
				   <span class="validationError"
			          th:if="${#fields.hasErrors('day')}"
			          th:errors="*{day}"></span>
				  
				  <input class="form-control" type="text" th:field="*{day}" >
				  <br/> 
				  <label class="form-label" for="*{description}">Ghi chú</label> 
				  <input class="form-control" type="text" th:field="*{description}" >
				  <br/>
				  <button type="submit" class="btn btn-success w-25">Tạo</button> 
				  	  <button type="button" class="btn btn-secondary w-25"
						th:onclick="@{|window.location.href='/payment-type/0/50'|}">Quay lại</button></span>
				
		</form>
		
</div>

<div th:fragment="update-payment-type">
		<h3>Cập nhật phương thức thanh toán</h3>
		<form th:action="@{|/payment-type/${id}|}" th:object="${paymentType}"
				method="POST">
				  <input class="form-control" type="hidden" th:field="*{id}" >
				  <label class="form-label" for="*{name}">Tên *</label> 
					<span class="validationError"
			          th:if="${#fields.hasErrors('name')}"
			          th:errors="*{name}"></span>
				  <input class="form-control" type="text" th:field="*{name}" > 
				    <br/> 
				  <label class="form-label" for="*{day}">Số ngày nợ</label> 
				   <span class="validationError"
			          th:if="${#fields.hasErrors('day')}"
			          th:errors="*{day}"></span>
				  
				  <input class="form-control" type="text" th:field="*{day}" >
				  <br/> 
				  <label class="form-label" for="*{description}">Ghi chú</label> 
				  <input class="form-control" type="text" th:field="*{description}" >
				  <br/>
				  <span class="">
				  <button type="submit" class="btn btn-success w-25">Cập nhật</button> 
				  <button type="button" class="btn btn-secondary w-25"
						th:onclick="@{|window.location.href='/payment-type/0/50'|}">Quay lại</button></span>

		</form>
		
</div>