<!DOCTYPE html>
<html>
<div th:replace="~{/component/head-tag::head-tag}"></div>
<body>
		<div th:replace="~{component/header :: header}"></div>
		<main>
				<div class="container-md text-left">
						<div class="row">
								<div class="col">
										<div th:replace="~{component/navbar::navbar}"></div>
								</div>
						</div>
						<div class="row">
								<div class="col">
										<h1 th:text="${error} ? ${error} : 'Trang bị lỗi'" ></h1>
										<button class="btn btn-secondary" onclick="history.back()">Quay lại</button>
								</div>
						</div>

				</div>

		</main>

		<div th:replace="~{component/footer::footer}"></div>

</body>
</html>