<!DOCTYPE html>
<html>
<div th:replace="~{component/head-tag::head-tag}"></div>

<body>
	<div th:replace="~{component/header :: header}"></div>
	<main>
		<div class="container-md text-left">
			<div class="row">
				<div class="col">
					<div th:replace="~{component/navbar::navbar}"></div>
				</div>
			</div>
			<div class="row">
				<div class="col">Trang chủ đặt hàng công ty Global Ecotech</div>

       
			</div>
		</div>
	</main>
</body>
<div th:replace="~{component/footer::footer}"></div>

</html>