<div th:fragment="product-detail">
		<h3>Thông tin sản phẩm</h3>
		<form th:action="@{|/admin/product/${id}|}" th:object="${product}"
				method="POST">
				
				<div class="input-group mb-3">
					<span class="input-group-text">Mã sản phẩm</span>
					<input th:readonly="true" class="form-control" type="text" th:field="*{code}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('code')}"
						th:errors="*{code}"></span>
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">Tên sản phẩm*</span>
					<input th:readonly="true" class="form-control" type="text" th:field="*{name}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></span>
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">Đơn vị tính</span>
					<input th:readonly="true" class="form-control" type="text" th:field="*{unit}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('unit')}"
						th:errors="*{unit}"></span>
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">Mô tả</span>
					<input th:readonly="true" class="form-control" type="text" th:field="*{description}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
				   
				 
				<button type="button" class="btn btn-secondary w-25"
						th:onclick="@{|window.location.href='/admin/product/0/50'|}">Quay lại</button></span>
		</form>
	
</div>


<div th:fragment="new-product">
		<h3>Thêm sản phẩm</h3>
	
		<form th:action="@{/admin/product/new-product}" th:object="${product}"
				method="POST">
				
				  <div class="input-group mb-3">
					<span class="input-group-text">Mã sản phẩm</span>
					<input class="form-control" type="text" th:field="*{code}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('code')}"
						th:errors="*{code}"></span>
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">Tên sản phẩm*</span>
					<input class="form-control" type="text" th:field="*{name}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></span>
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">Đơn vị tính</span>
					<input class="form-control" type="text" th:field="*{unit}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('unit')}"
						th:errors="*{unit}"></span>
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">Mô tả</span>
					<input class="form-control" type="text" th:field="*{description}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
				  <button type="submit" class="btn btn-success w-25">Tạo</button> 
				 <button type="button" class="btn btn-secondary w-25"
						th:onclick="@{|window.location.href='/admin/product/0/50'|}">Quay lại</button></span>
				
		</form>
		
</div>

<div th:fragment="update-product">
		<h3>Cập nhật sản phẩm</h3>
		<form th:action="@{|/admin/product/${id}|}" th:object="${product}"
				method="POST">
				  <div class="input-group mb-3">
					<span class="input-group-text">Mã sản phẩm</span>
					<input class="form-control" type="text" th:field="*{code}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('code')}"
						th:errors="*{code}"></span>
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">Tên sản phẩm*</span>
					<input class="form-control" type="text" th:field="*{name}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></span>
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">Đơn vị tính</span>
					<input class="form-control" type="text" th:field="*{unit}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('unit')}"
						th:errors="*{unit}"></span>
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">Mô tả</span>
					<input class="form-control" type="text" th:field="*{description}">
					<span class="validationError input-group-text" th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
				  <button type="submit" class="btn btn-success w-25">Cập nhật</button> 
				  <button type="button" class="btn btn-secondary w-25"
						th:onclick="@{|window.location.href='/admin/product/0/50'|}">Quay lại</button></span>

		</form>
		
</div>