<div th:fragment="order">

	<div class="overflow-auto w-100">

		<table class="table table-striped ">
			<thead>
				<tr>
					<th scope="col">STT</th>
					<th scope="col">Ngày đặt hàng</th>
					<th scope="col">Khách hàng</th>
					<th scope="col">Giá trị ĐH</th>
					<th scope="col">PTTT</th>
<!--					<th scope="col">Mã hàng</th>-->
					<th scope="col">Sản phẩm</th>


<!--					<th scope="col">Mô tả</th>-->

					<th scope="col">Người tạo</th>
					<th scope="col">Duyệt</th>
					<th scope="col">Người duyệt</th>
					<th scope="col">Ngày duyệt</th>
					<th scope="col">Hành động</th>

				</tr>
			</thead>
			<tbody>
				<h3>Danh sách đặt hàng</h3>
				<div>
					<div class="row">
						<div class="col ">
							<div th:replace="~{component/search-box::searchBox(name='admin/order', info='tên,mã,sản phẩm,tạo bởi')}"></div>
						</div>
						<div class="col d-flex ">
							<div class="btn-group w-100">
								<button type="button" class="btn btn-secondary w-50"
									style="margin-right:-5px; height:60px" th:onclick="window.history.back()">Quay
									lại</button>
								<button type="button" class="btn btn-success w-50" style="margin-left:0px; height:60px"
									th:onclick="window.location.href='/admin/order/new-order'">Thêm</button>
							</div>
						</div>
					</div>

					<tr th:each="c, iterator : ${order}">
						<!-- ${iterator.index + 1} -->
						<td scope="row" th:text="${c.id}"></td>
						<td th:text="${#temporals.format(c.createAt, 'HH:mm a dd-MM-yyyy')}"></td>
						<td th:text="${c.customer?.name}"></td>
						<td th:text="${#numbers.formatDecimal(c.totalPrice, 0, 'POINT', 0, 'POINT')}"></td>
						<td th:text="${c.paymentType?.name}"></td>
						<td th:if="${c.orderProduct.size() == 0}" th:text="${'Không có sản phẩm'}" colspan="2">


						</td>
<!--						<td th:if="${c.orderProduct.size() > 0}" th:text="${c.orderProduct[0].product.code}">-->
						<td th:if="${c.orderProduct?.size() > 0}" th:text="${c.orderProduct[0].product.name}"></td>


<!--						<td th:text="${c.description}"></td>-->

						<td th:text="${c.userOrdered?.userName}"></td>

						<td>
							<button type="button" th:class="${ (c.isConfirm == true) ? 'badge text-bg-success' : 'badge text-bg-secondary'}" th:text="${ (c.isConfirm == true) ? 'Đã duyệt' : 'Chưa duyệt'} "></button>
						</td>
						<td th:text="${c.confirmByUser?.userName}"></td>
						<td th:text="${c.#temporals.format(c.confirmAt, 'HH:mm a dd-MM-yyyy')}"></td>

						</td>


						<td>
							<div class="btn-group" role="group" aria-label="Basic example">
								<button th:if="${c.isConfirm != true}" th:onclick="@{|window.location.href='/admin/order/${c.id}/confirm'|}" type="button"
									class="btn btn-success timer">Duyệt</button>
								<button th:onclick="@{|window.location.href='/admin/order/${c.id}/show'|}" type="button"
									class="btn btn-info">Xem</button>
								<button type="button" th:onclick="@{|window.location.href='/admin/order/${c.id}'|}"
									class="btn btn-warning">Sửa</button>
								<button th:onclick="@{|window.location.href='/admin/order/delete/${c.id}'|}" type="submit"
									class="btn btn-danger">Xoá</button>
							</div>
						</td>
					</tr>
				</div>
			</tbody>
		</table>

	</div>
	<div th:replace="~{component/pagination::page(name=${order}, link='admin/order', pageRange=3)}"></div>
</div>